@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 16% 98%; /* gray-50 */
    --foreground: 248 56% 33%; /* indigo-700 */
    --card: 210 16% 98%; /* gray-50 */
    --card-foreground: 248 56% 33%; /* indigo-700 */
    --popover: 210 16% 98%; /* gray-50 */
    --popover-foreground: 248 56% 33%; /* indigo-700 */
    --primary: 248 56% 33%; /* indigo-700 */
    --primary-foreground: 210 16% 98%; /* gray-50 */
    --secondary: 210 16% 98%; /* gray-50 */
    --secondary-foreground: 248 56% 33%; /* indigo-700 */
    --accent-foreground: 0 0% 100%; /* white */
    --muted: 210 11% 84%; /* gray-300 */
    --muted-foreground: 248 56% 33%; /* indigo-700 */
    --destructive: 330 81% 60%; /* pink-500 */
    --destructive-foreground: 0 0% 100%; /* white */
    --border: 210 11% 84%; /* gray-300 */
    --input: 210 11% 84%; /* gray-300 */
    --ring: 24 94% 53%; /* coral-500 */
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
